<div class="home-container">

<div class="navigation-top">
  <div class="col-md-6">

  </div>
  <div class="col-md-6">
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Browse</a></li>
      <li role="presentation"><%= link_to "Login", new_user_session_path %></li>
    </ul>
  </div>
    </div>


  <div class="hero-bg">
    <div class="hero-image">

    </div>
  </div>

  <div class="container summary">
    Zorcely is a crowdsourcing platform helping individuals and non-profits make their community projects a reality through enabling volunteers and companies to contribute resources by time, expertise, and money.
  </div>
  <div class="container hero-call center">
    <div class="row">
      <div class="col-md-6">
        <%= link_to "I want to contribute to a project", register_path, class: "btn btn-solid btn-lg hero-cta" %>
      </div>
      <div class="col-md-6">
        <%= link_to "I have a project", register_path, class: "btn btn-solid btn-lg hero-cta" %>
      </div>
    </div>
  </div>
</div>
