<% provide(:title, 'Plentus - Pricing') %>
<main class="bs-masthead pricing" role="main">
<div class="top">
<div class="container upper">
<div class="row">
<div class="col-xs-12">
   <div class="description">
     <h1>14 day free trial included with all plans. Cancel anytime, no questions asked.</h1>
   </div>
</div>
</div>
<div class="container middle">
 <div class="plans">
	<div class="row">
		<div class="col-xs-6 left">
			<div class="plan core">
				<div class="header">
				<span class="sub">$</span><span class="price">7</span><span class="monthly">/MO</span>
				<p class="identifier">CORE</p>
				</div>
				<ul>
				<li class="plan-row">Finance Analytics</li>
				<li class="plan-row">Finance Core Tools</li>
				<li class="plan-row">Dedicated Support</li>
				<li class="plan-row">-</li>
				<li class="plan-row">-</li>
				</ul>
				<%= link_to "GET STARTED TODAY", register_path(:plan => 'core'), class: "btn btn-solid btn-lg" %>
			</div>
		</div>
		<div class="col-xs-6 right">
			<div class="plan plus">
				
				<div class="header">
				<p class="strikethrough">$12/Month</p>
				<span class="sub">$</span><span class="price">10</span><span class="monthly">/MO</span>
				<p class="identifier">PLUS +</p>
				</div>
				<ul>
				<li class="plan-row">Finance Analytics</li>
				<li class="plan-row">Finance Core Tools</li>
				<li class="plan-row">Dedicated Support</li>
				<li class="plan-row">Conversations <%= link_to("<span class=\"glyphicon glyphicon-question-sign\"></span>".html_safe, page_path('tour', anchor: "conversations")) %></li>
				<li class="plan-row">Tax Calculator</li>
				</ul>
				<%= link_to "GET STARTED TODAY", register_path(:plan => 'plus'), class: "btn btn-solid btn-lg" %>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>

<div class="container lower">
<div class="row plans-additional">
	<div class="h2-info plans"><span class="highlight">14 day free trial,</span> SSL Security and Secure Billing included with all plans.</div>
</div>
<div class="row">
<div class="col-xs-6 left">
  <h2>Is there a minimum commitment?</h2>
  <div class="h2-info">No. All plans are billed on a month-to-month basis. Upgrade, switch, or cancel your plan at any time.</div>
  <h2>When will I be charged?</h2>
  <div class="h2-info">Immediately following the free trial (we include a 14 day free trial in all our plans), and then every month thereafter. Cancel anytime before the trial period ends and you won't be billed a cent.</div>
  <h2>How do I cancel?</h2>
  <div class="h2-info">You can cancel anytime in the billing section of your account settings. There are no obligations or contracts.</div>
</div>

<div class="col-xs-6 right">
  <h2>How can I pay?</h2>
  <div class="h2-info">We accept Visa, Mastercard, American Express, and Discover cards. We don't support PayPal.</div>
  <h2>How secure is my payment info?</h2>
  <div class="h2-info">All payments are securely processed by industry leader, Stripe. Your card information never even touches our servers.</div>
  <h2>Are plans available in all countries?</h2>
  <div class="h2-info">At this time, our Plus+ plan is only available in select Canadian regions. Your eligibility is determined at signup. Our core plan is available in the US and Canada.</div>
</div>

</div>
</div>
</main>
