<p>
Organization Name: <%= @organization.organization_name %>
</p>
<p>
Organization Number: <%= @organization.nonprofit_number %>
</p>
<p>
  <p>
    Organization Summary: <%= @organization.organization_summary %>
  </p>
</p>
Organization Full Description: <%= @organization.organization_description %>
</p>
