<p>
Organization Name: <%= @organization.organization_name %>
</p>
<p>
Organization Number: <%= @organization.nonprofit_number %>
</p>
<p>
</p>
Org Description: <%= @organization.organization_description %>
</p>
